body {
    font-family: arial;
    padding: 0;
    margin: 0;
    background-color: #e2edff;
}
h2 {
    background-color:#2260ff;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
h3 {
    text-align: center;
    font-size: 40pt;
    margin: 5px 0;
}
h4 {
    text-align: center;
    font-size: 20pt;
    margin: 5px 0;
}
img {
    width: 80%;
}
p {
    margin: 0px auto;
    width: 95%;
    font-size: 15pt;
}
a {
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-weight: bolder;
    font-size: 20pt;
}
#navbar{
    background-color: blue;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin: 0 0 50px 0;
}
.navItem a{
    color: white;
    font-size: 18pt;
    text-decoration: none;
}
.navItem:not(:first-child) {
    border-left: 2px solid white;
}
.navItem {
    text-decoration: none;
    display: inline;
    padding: 2px 20px;
    font-weight: bolder;
}

#container {
    margin: 100px auto;
    width: 80%;
    height: 100%;
}

#cmps-4420-final-project-proposal,
#cmps-4420-final-project,
h1#results,
#week-1-update,
#week-2-update,
#cmps-4420-final-project-results,
#title   {
    text-align: center;
    background-color:#2260ff;
    color: white;
    margin: 20px, 0px, 30px, 30px !important;
    font-size: 40pt;
    padding: 10px;
    border-radius: 10px;
}

#dataWindow {
    background-color: #47484a !important;
    display: block;
    margin: 20px auto;
    width:950px;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
}
#dataWindow a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#text {
    margin: 0px auto;
    width: 95%;
    font-size: 15pt;
    background-color: white;
    padding: 20px;
}

#resource-links a{
    margin: 10px;
    padding:10px;
}
#lab2link a{
    color:#2260ff;
    text-shadow: 1px 1px 5px white;
}





